
## <summary>policy for pipocoin</summary>


########################################
## <summary>
##	Transition to pipocoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`pipocoin_domtrans',`
	gen_require(`
		type pipocoin_t, pipocoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, pipocoin_exec_t, pipocoin_t)
')


########################################
## <summary>
##	Execute pipocoin server in the pipocoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pipocoin_initrc_domtrans',`
	gen_require(`
		type pipocoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, pipocoin_initrc_exec_t)
')


########################################
## <summary>
##	Search pipocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pipocoin_search_lib',`
	gen_require(`
		type pipocoin_var_lib_t;
	')

	allow $1 pipocoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read pipocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pipocoin_read_lib_files',`
	gen_require(`
		type pipocoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, pipocoin_var_lib_t, pipocoin_var_lib_t)
')

########################################
## <summary>
##	Manage pipocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pipocoin_manage_lib_files',`
	gen_require(`
		type pipocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, pipocoin_var_lib_t, pipocoin_var_lib_t)
')

########################################
## <summary>
##	Manage pipocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pipocoin_manage_lib_dirs',`
	gen_require(`
		type pipocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, pipocoin_var_lib_t, pipocoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a pipocoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`pipocoin_admin',`
	gen_require(`
		type pipocoin_t;
		type pipocoin_initrc_exec_t;
		type pipocoin_var_lib_t;
	')

	allow $1 pipocoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, pipocoin_t)

	pipocoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 pipocoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, pipocoin_var_lib_t)

')

